body {
    background-image: linear-gradient(to bottom, #83fbff, #f85fd2);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    margin: 0;
    height: 100vh;
  }
  
  #birthday-message {
    width: 80%; 
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .balloon {
    width: 80%; 
    margin: 0 auto;
    position: absolute;
    animation: float 6s infinite;
    mix-blend-mode: multiply;
    background-image: none;
    background-color: transparent;
  }
  .boneka{
    width: 20%; /* ganti 50px dengan 20% */
    height: auto;
    position: absolute;
    animation: float 6s infinite;
    mix-blend-mode: multiply;
    background-image: none;
    background-color: transparent;
  }
  /* style.css */
@media only screen and (max-width: 768px) {
  #birthday-message {
    width: 90%;
  }
  .balloon {
    width: 40%;
  }
  .boneka {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  #birthday-message {
    width: 95%;
  }
  .balloon {
    width: 50%;
  }
  .boneka {
    width: 30%;
  }
}
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #fireworks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: block;
    width: 300px;
    height: 300px;
  }
  
  .firework {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(
      Mat.random() * 255,
      Math.random() * 255,
      Math.random() * 255,
      0.5
    )
  }
    animation : explode 3s infinite;
  
  
  @keyframes explode {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.1);
      opacity: 0;
    }
  }
  
  .name {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    animation: blink 2s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .balloon {
    background: transparent;
  }
  
  #fireworks {
    background: transparent;
  }